{% extends 'base.html' %}

{% load custom %}

{% block title_name %}
    Пример фильтров в Django
{% endblock %}

{% block content %}
    <h1>Пример фильтров в Django</h1>
    <div>
        <p><b>Добавление данных к числу (add): </b>{{ digit|add:"6" }}</p>
        <p><b>Добавление данных к строке (add): </b>{{ stringText|add:" (Add new text!)" }}</p>
        <p><b>Удаление данных из строки (cut): </b>{{ stringText|cut:" " }}</p>

        <p><b>День месяца (от 01 до 31): </b>{{ datetimeNow|date:"d" }}</p>
        <p><b>Полное название дня недели: </b>{{ datetimeNow|date:"l" }}</p>
        <p><b>Номер недели в году (от 01 до 53): </b>{{ datetimeNow|date:"W" }}</p>
        <p><b>Аббревиатура месяца: </b>{{ datetimeNow|date:"M" }}</p>
        <p><b>Часовой пояс: </b>{{ datetimeNow|date:"T" }}</p>
        <p><b>Год в формате 4-х цифр: </b>{{ datetimeNow|date:"Y" }}</p>
        <p><b>Аббревиатура дня недели: </b>{{ datetimeNow|date:"D" }}</p>
        <p><b>Месяц полностью: </b>{{ datetimeNow|date:"F" }}</p>
        <p><b>Месяц в числовом формате (от 01 до 12): </b>{{ datetimeNow|date:"m" }}</p>
        <p><b>Год в формате 2-х цифр: </b>{{ datetimeNow|date:"y" }}</p>

        <p><b>Часы (от 00 до 23): </b>{{ datetimeNow|date:"H" }}</p>
        <p><b>Минуты (от 00 до 59): </b>{{ datetimeNow|date:"i" }}</p>
        <p><b>Секунды (от 00 до 59): </b>{{ datetimeNow|date:"s" }}</p>

        <p><b>Проверка на пустоту 1: </b>{{ var1|default:"Empty" }}</p>
        <p><b>Проверка на пустоту 2: </b>{{ var2|default:"Empty" }}</p>
        <p><b>Проверка на пустоту 3: </b>{{ var3|default:"Empty" }}</p>

        <p><b>Проверка на None 1: </b>{{ var1|default_if_none:"It's none!" }}</p>
        <p><b>Проверка на None 2: </b>{{ var2|default_if_none:"It's none!" }}</p>
        <p><b>Проверка на None 3: </b>{{ var3|default_if_none:"It's none!" }}</p>

        <p><b>Сортировка данных от меньшего значения к большему (dictsort): </b>{{ dict_col|dictsort:"price" }}</p>
        <p><b>Сортировка данных от большего к меньшему (dictsortreversed): </b>{{ dict_col|dictsortreversed:"price" }}</p>

        <p><b>Проверка деления без остатка (divisibleby): </b>{{ digit|divisibleby:"3" }}</p>
        <p><b>Проверка деления с остатком (divisibleby): </b>{{ digit|divisibleby:"9" }}</p>

        <p><b>Отображение числа в формате размера файла(filesizeformat): </b>{{ digit|add:"1974821"|filesizeformat }}</p>

    <div>
        {{ "hello world" | underscore }}
        {{ "hello world" | reverse }}
    </div>

    </div>

{% endblock %}