{% extends 'base.html' %}

{% load custom %}

{% block title_name %}
    Пример тегов в Django
{% endblock %}

{% block content %}
    <h1>Пример тегов в Django</h1>
    <div>
        <h2>Экранирование</h2>
        {% autoescape on %}
            {{ html_code }}
        {% endautoescape %}

        {% autoescape off %}
            {{ html_code }}
        {% endautoescape %}
    </div>

    <div>
        <h2>Теперь дальше комментарии</h2>
        {% comment %}
    Это комментарий
    для потомков
    {% endcomment %}

        <!-- А меня вы увидите -->

        <h2>Конец</h2>
    </div>


    <h2>Перебор элементов или пустота</h2>
    <ul>
        {% for item in some_list %}
            <li>{{ item }}</li>
        {% empty %}
            <li>Список пуст или отсутствует</li>
        {% endfor %}
    </ul>

    <div>
        <h2>Спец. символы (скобки): </h2>
        {% templatetag openblock %}
        {% templatetag closeblock %}
        {% templatetag openvariable %}
        {% templatetag closevariable %}
        {% templatetag openbrace %}
        {% templatetag closebrace %}
        {% templatetag opencomment %}
        {% templatetag closecomment %}
    </div>

    <div>
        <h2>Цикл</h2>
        <table class="table">
            <tbody>
            {% for item in some_list %}
                <tr class="table-{% cycle 'primary' 'secondary' 'danger' %}">
                    <td>{{ item }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div>
        <h2>Проверка на повторяемость</h2>
        <table class="table">
            <tbody>
            {% for item in some_list %}
                <tr>
                    {% ifchanged %}
                        <td>{{ item }}</td>
                    {% endifchanged %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2>Текущая дата (now)</h2>
        {% now 'DATETIME_FORMAT' %}
        {% now 'Сегодня D y' %}
    </div>

    <div>
        <h2>Проверка на значимость переменных</h2>
        {% firstof var1 var2 var3 var4 %}
    </div>

    {#    <div>#}
    {#        <h2>Отладочная информация</h2>#}
    {#        {% debug %}#}
    {#    </div>#}

    <div>
        <h2>Автогенерация текстов и слов
            1 - число генерируемых объектов
            2 - тип генерации (w - слова, p - абзацы, b - текст)
            3 - рандомность 1 абзаца
        </h2>
        {% lorem 50 p random %}
    </div>

    <div>
        <h2>Собственные тэги</h2>
        {% multiply 5 10 %}
        {% multiply 2 4 %}
        {% hello_user user %}
    </div>


{% endblock %}