{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказик</title>
    <link rel="stylesheet" href="{% static 'shop/css/bootstrap.css' %}">
</head>
<body>
<div class="container">
        <div class="row">
            <div class="col">
                {{ order.buyer_firstname }}
            </div>
            <div class="col">
                {{ order.delivery_address }}
                {{ order.get_delivery_type_display }}
            </div>
            <div class="col">
                <b>Сумма заказа: {{ sum_price }} рублей.</b>
            </div>
        </div>
        <div class="row row-cols-1">
            {% for pos_product in object.pos_order_set.all %}
            <div class="col">
                <a href="{% url 'one_product_info' pos_product.product.pk %}">
                    {{ pos_product.product.name }}
                </a>: {{ pos_product.product.price }} * {{ pos_product.count }} | {{ pos_product.discount }}
            </div>
            {% endfor %}
        </div>
    </div></body>
</html>